<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>Itens</h2>
        </div>
        <div class="col-sm-6">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" [routerLink]="['/transaction']">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <!-- <a href="" class="btn btn-primary pull-right h2" (click)="validationModal.open()">Novo Item</a> -->
            <button type="button" class="btn btn-primary pull-right h2" (click)="viewTransferenciaEdit(null)">Novo Item</button>
        </div>
    </div>
    <hr />
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0" width="80%">
                <thead>
                    <tr>
                        <th width="20%">Pagador</th>
                        <th width="20%">Beneficiário</th>
                        <th width="20%">Valor</th>
                        <th width="10%">Tipo</th>
                        <th width="10%">Status</th>
                        <th class="actions" width="20%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transferencia of transferencias | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                        <td width="20%">{{transferencia.pagadorNome}}</td>
                        <td width="20%">{{transferencia.beneficiarioNome}}</td>
                        <td width="20%">R${{transferencia.valor}}</td>
                        <td width="10%">{{transferencia.tipo}}</td>
                        <td width="10%">{{transferencia.status}}</td>
                        <td class="actions" width="20%">
                            <a class="btn btn-success btn-xs" (click)="viewTransferenciaDetails(transferencia)">Visualizar</a>
                            <a class="btn btn-warning btn-xs" (click)="viewTransferenciaEdit(transferencia)">Editar</a>
                            <a class="btn btn-danger btn-xs" data-target="#delete-modal" (click)="remove(transferencia.id)">Excluir</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot align-items=center>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </tfoot>
            </table>
        </div>
    </div>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" *ngIf="selectedTransferenciaLoaded">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
                    <!-- <h4>{{transferencia.title}} details</h4> -->
                </div>
                <div class="modal-body">
                    <form ngNoForm method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Nome do Pagador</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.pagadorNome" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Banco do Pagador</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.pagadorBanco" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Agência do Pagador</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.pagadorAgencia" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Conta do Pagador</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.pagadorConta" [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Nome do Beneficiário</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioNome" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Banco do Beneficiário</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioBanco" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Agência do Beneficiário</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioAgencia" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Conta do Beneficiário</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioConta" [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="control-label">Tipo da Transferência</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.tipo" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-xs-4">
                                    <label class="control-label">Status da Transferência</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.status" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-xs-4">
                                    <label class="control-label">Valor da Tranferência</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.valor" [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" *ngIf="isEdit == true">
                            <div class="pull-right">
                                <button (click)="save()" type="button" class="btn btn-success"><i class="fa fa-close"></i>Salvar</button>
                                <button (click)="cancel()" type="button" class="btn btn-danger"><i class="fa fa-close"></i>Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>