<div id="main" class="container-fluid" style="margin-top: 50px">
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>({{qtdTransactions}}) Transações</h2>
        </div>
        <div class="col-lg-6">
            <div class="input-group h2 col-lg-12">
                <input type="text" [(ngModel)]="searchText" class="form-control input-lg col-lg-12" uppercased placeholder="Pesquisar Itens">
            </div>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary pull-right h2" (click)="viewTransferenciaEdit(null)">Novo Item</button>
        </div>
    </div>
    <hr />
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0" width="80%">
                <thead>
                    <tr>
                        <th>Pagador</th>
                        <th>Beneficiário</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Status</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transferencia of transferencias | searchFilter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <td>{{transferencia.pagadorNome}}</td>
                        <td>{{transferencia.beneficiarioNome}}</td>
                        <td>{{transferencia.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>R$ {{transferencia.valor | myCurrency}}</td>
                        <td>{{transferencia.tipo}}</td>
                        <td>{{transferencia.status}}</td>
                        <td class="actions">
                            <a class="btn btn-success btn-xs" (click)="viewTransferenciaDetails(transferencia)">Visualizar</a>
                            <a class="btn btn-warning btn-xs" (click)="viewTransferenciaEdit(transferencia)">Editar</a>
                            <a class="btn btn-danger btn-xs" (click)="remove(transferencia)">Excluir</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td>Total:</td>
                    <td></td>
                    <td></td>
                    <td>R$ {{valorTotalPagina | myCurrency}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tfoot>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" *ngIf="selectedTransferenciaLoaded">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ngNoForm method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Nome do Pagador</label>
                                    <input required maxlength="128" type="text" class="form-control" [(ngModel)]="transferencia.pagadorNome" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Banco do Pagador</label>
                                    <input required maxlength="3" type="text" class="form-control" [(ngModel)]="transferencia.pagadorBanco" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Agência do Pagador</label>
                                    <input required maxlength="4" type="text" class="form-control" [(ngModel)]="transferencia.pagadorAgencia" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Conta do Pagador</label>
                                    <input required maxlength="6" type="text" class="form-control" [(ngModel)]="transferencia.pagadorConta" [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Nome do Beneficiário</label>
                                    <input required maxlength="128" type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioNome" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Banco do Beneficiário</label>
                                    <input required maxlength="3" type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioBanco" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Agência do Beneficiário</label>
                                    <input required maxlength="4" type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioAgencia" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Conta do Beneficiário</label>
                                    <input required maxlength="6" type="text" class="form-control" [(ngModel)]="transferencia.beneficiarioConta" [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4" *ngIf="isEdit == false">
                                    <label class="control-label">Tipo da Transferência</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.tipo" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-xs-4" *ngIf="isEdit == false">
                                    <label class="control-label">Status da Transferência</label>
                                    <input type="text" class="form-control" [(ngModel)]="transferencia.status" [disabled]="isEdit == false" />
                                </div>
                                <div class="col-xs-4">
                                    <label class="control-label">Valor da Tranferência</label>
                                    <input required type="text" maxlength="17" class="form-control" [(ngModel)]="transferencia.valorFormatado" myCurrencyFormatter [disabled]="isEdit == false" />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" *ngIf="isEdit == true">
                            <div class="pull-right">
                                <button (click)="save()" type="button" class="btn btn-success"><i class="fa fa-close"></i>Salvar</button>
                                <button (click)="cancel()" type="button" class="btn btn-danger"><i class="fa fa-close"></i>Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>